mixin menu(LeftSideText, FirstLabel, SecondLabel, ThirdLabel, FourthLabel, FifthLabel)

        // Navigation before events
        .column.small-12.menu-navigation

            // Left side text
            ul.menu.float-left
                li: strong #{LeftSideText}

            // Right side text
            ul.menu.float-right
                li #{FirstLabel}
                li #{SecondLabel}
                li #{ThirdLabel}
                li #{FourthLabel}
                li #{FifthLabel}

mixin sports-event-label(day, month, heading, stadium, button_text)

    // Sports event label
    .event.column.large-12.event-label

        // Calendar icon and date
        .column.large-2.calendar
            ul.menu
                li: img(src="images/icon-calendar.png", alt="Date")
                li.date: strong #{day}<br>#{month}

        // Description
        .column.large-8.description
            h6: strong #{heading}
            p #{stadium}

        // Button
        .column.large-2.tab-button
            a.tiny.button.event-button(href="") #{button_text}

mixin sports-event(src, alt, stadium, heading, button_text)

    // Sport event tab
    .column.sports

        // Image, text and button
        .sport-event
            img(src=src, alt=alt)
            h6 #{stadium}
            p #{heading}
            a.tiny.button.sport-button(href="") #{button_text}

mixin sports-event-small-text(src, alt, stadium, heading, className, smallText, button_text)

    // Sport event tab
    .column.sports

        // Image, text and button
        .sport-event
            img(src=src, alt=alt)
            h6 #{stadium}
            p #{heading}
                small(class="#{className}") #{smallText}

            a.tiny.button.sport-button(href="") #{button_text}

mixin recommended-event(src, alt, heading)

    // Recommended event tab
    .column.large-2.recommended-tab
        img.float-center(src=src, alt=alt)
        h6.text-center #{heading}

        // Star rating
        .rating
            i.fi-star
            i.fi-star
            i.fi-star
            i.fi-star
            i.fi-star.inactive

mixin ticket-full-image(src, alt)

    // Hot ticket event FULL IMAGE
    .column.large-3

        // Image
        .ticket-full-image-box
            img(src=src, alt=alt)

mixin ticket-small-text(src, alt, heading, description, className, smallText, ButtonText)

    // Hot ticket event with small text in description
    .column.large-3

        // Image, text, button
        .ticket-box
            img(src=src, alt=alt)
            h5 #{heading}
            p #{description}
                 small(class="#{className}") #{smallText}

            a.tiny.button.ticket-button(href="") #{ButtonText}

mixin ticket(src, alt, heading, description, ButtonText)

    // Hot ticket event vanila, without small text.
    .column.large-3

        // Image, text, button
        .ticket-box
            img(src=src, alt=alt)
            h5 #{heading}
            p #{description}

            a.tiny.button.ticket-button(href="") #{ButtonText}

mixin social-media(src, alt, socialHeader, heading, about, description, ButtonText)

    // Social media tab
    .column.large-3.social-media-tab
        .social-media
            img(src=src, alt=alt)
            h6(class="#{socialHeader}") #{heading}
            h5 #{about}
            p #{description}

            a.tiny.button.social-media-button(href="") #{ButtonText}

mixin information-tab(divClass, src, alt, heading, description)

    // Information tab (underneath the social media row)
    .column.large-3.information-tab

        // Left side image.
        .float-left
            div(class="#{divClass}")
                img(src=src, alt=alt)

        // Right side text
        .float-right
            h5 #{heading}
            p #{description}

mixin photo-information-left(heading1, heading2, description, aText)

    // Image information, going on the image
    .image-text-left
        h3 #{heading1}<br>#{heading2}
        h4 #{description}

        .rating
            i.fi-star
            i.fi-star
            i.fi-star
            i.fi-star
            i.fi-star.inactive
            a(href="") (53)

        p.image-a: a(href="") <br>#{aText}

mixin photo-information-right(heading1, heading2, description, aText)

    // Image information, going on the image
    .image-text-right
        h3 #{heading1}<br>#{heading2}
        h4 #{description}

        .rating
            i.fi-star
            i.fi-star
            i.fi-star
            i.fi-star
            i.fi-star.inactive
            a(href="") (53)

        p.image-a: a(href="") <br>#{aText}

mixin left-categories-label(src, ButtonText)
    li
        ul.menu
            li: .square: img(src=src, alt="")
            li: a(href="") #{ButtonText}
            li: .right-square: img(src="images/icon-small-right-arrow.png", alt="Right Arrow")